@tailwind base;

@layer base {

  :root,
  .light,
  .default-light {
    --gas-font-family: 'DM Sans', sans-serif;
    --gas-border-radius: 0.5rem;
    --gas-border-radius-inner: 0.25rem;
    --gas-border-default: theme(colors.gray.400);
    --gas-text-inverse: theme(colors.gray.50);
    --gas-text-foreground: theme(colors.gray.950);
    --gas-text-foreground-muted: theme(colors.gray.600);
    --gas-text-error: theme(colors.rose.600);
    --gas-text-primary: #0052ff;
    --gas-text-success: theme(colors.lime.600);
    --gas-text-warning: theme(colors.orange.600);
    --gas-text-disabled: theme(colors.gray.400);

    --gas-bg-default: theme(colors.gray.50);
    --gas-bg-default-hover: theme(colors.gray.200);
    --gas-bg-default-active: theme(colors.gray.300);
    --gas-bg-alternate: theme(colors.gray.200);
    --gas-bg-alternate-hover: theme(colors.gray.300);
    --gas-bg-alternate-active: theme(colors.gray.400);
    --gas-bg-inverse: theme(colors.gray.100);
    --gas-bg-inverse-hover: theme(colors.gray.200);
    --gas-bg-inverse-active: theme(colors.gray.300);
    --gas-bg-primary: #0052ff;
    --gas-bg-primary-hover: #014ceb;
    --gas-bg-primary-active: #0148dc;
    --gas-bg-primary-washed: #b2cbff;
    --gas-bg-primary-disabled: #9dbcfe;
    --gas-bg-secondary: theme(colors.slate.200);
    --gas-bg-secondary-hover: theme(colors.slate.300);
    --gas-bg-secondary-active: theme(colors.slate.400);
    --gas-bg-error: theme(colors.rose.600);
    --gas-bg-warning: theme(colors.orange.600);
    --gas-bg-success: theme(colors.lime.300);
    --gas-bg-default-reverse: theme(colors.gray.950);

    --gas-icon-color-primary: #0052ff;
    --gas-icon-color-foreground: theme(colors.gray.950);
    --gas-icon-color-foreground-muted: theme(colors.gray.600);
    --gas-icon-color-inverse: theme(colors.gray.50);
    --gas-icon-color-error: theme(colors.rose.600);
    --gas-icon-color-success: theme(colors.lime.600);
    --gas-icon-color-warning: theme(colors.orange.600);

    --gas-line-primary: #0052ff;
    --gas-line-default: theme(colors.gray.300);
    --gas-line-heavy: theme(colors.gray.500);
    --gas-line-inverse: theme(colors.gray.700);

    /* Shadcn UI */
    --gas-background: 0 0% 100%;
    --gas-foreground: 222.2 84% 4.9%;

    --gas-card: 0 0% 100%;
    --gas-card-foreground: 222.2 84% 4.9%;

    --gas-popover: 0 0% 100%;
    --gas-popover-foreground: 222.2 84% 4.9%;

    --gas-primary: 223 100% 50%;
    --gas-primary-foreground: 210 40% 98%;

    --gas-secondary: 210 40% 96.1%;
    --gas-secondary-foreground: 222.2 47.4% 11.2%;

    --gas-muted: 210 40% 96.1%;
    --gas-muted-foreground: 220, 8.9%, 46.1%;

    --gas-accent: 210 40% 96.1%;
    --gas-accent-foreground: 222.2 47.4% 11.2%;

    --gas-destructive: 0 84.2% 60.2%;
    --gas-destructive-foreground: 210 40% 98%;

    --gas-border: 214.3 31.8% 91.4%;
    --gas-input: 214.3 31.8% 91.4%;
    --gas-ring: 221.2 83.2% 53.3%;

    --gas-radius: 0.5rem;
  }

  .dark,
  .default-dark {
    --gas-font-family: 'DM Sans', sans-serif;
    --gas-border-radius: 0.5rem;
    --gas-border-radius-inner: 0.25rem;
    --gas-border-default: theme(colors.gray.400);
    --gas-text-inverse: theme(colors.gray.50);
    --gas-text-foreground: theme(colors.gray.50);
    --gas-text-foreground-muted: theme(colors.gray.400);
    --gas-text-error: theme(colors.rose.400);
    --gas-text-primary: #578bfa;
    --gas-text-success: theme(colors.lime.400);
    --gas-text-warning: theme(colors.orange.400);
    --gas-text-disabled: theme(colors.gray.600);

    --gas-bg-default: theme(colors.gray.950);
    --gas-bg-default-hover: theme(colors.gray.800);
    --gas-bg-default-active: theme(colors.gray.700);
    --gas-bg-alternate: theme(colors.gray.800);
    --gas-bg-alternate-hover: theme(colors.gray.700);
    --gas-bg-alternate-active: theme(colors.gray.600);
    --gas-bg-inverse: theme(colors.gray.900);
    --gas-bg-inverse-hover: theme(colors.gray.800);
    --gas-bg-inverse-active: theme(colors.gray.700);
    --gas-bg-primary: #578bfa;
    --gas-bg-primary-hover: #477ef5;
    --gas-bg-primary-active: #5386f5;
    --gas-bg-primary-washed: #051537;
    --gas-bg-primary-disabled: #1b3365;
    --gas-bg-secondary: theme(colors.slate.800);
    --gas-bg-secondary-hover: theme(colors.slate.700);
    --gas-bg-secondary-active: theme(colors.slate.600);
    --gas-bg-error: theme(colors.rose.400);
    --gas-bg-warning: theme(colors.orange.400);
    --gas-bg-success: theme(colors.lime.700);
    --gas-bg-default-reverse: theme(colors.gray.50);

    --gas-icon-color-primary: #578bfa;
    --gas-icon-color-foreground: theme(colors.gray.50);
    --gas-icon-color-foreground-muted: theme(colors.gray.400);
    --gas-icon-color-inverse: theme(colors.gray.950);
    --gas-icon-color-error: theme(colors.rose.400);
    --gas-icon-color-success: theme(colors.lime.400);
    --gas-icon-color-warning: theme(colors.orange.400);

    --gas-line-primary: #578bfa;
    --gas-line-default: theme(colors.gray.700);
    --gas-line-heavy: theme(colors.gray.500);
    --gas-line-inverse: theme(colors.gray.300);

    /* Shadcn UI */
    --gas-background: 220.9, 39.3%, 11%;
    --gas-foreground: 210 40% 98%;

    --gas-card: 220.9, 39.3%, 11%;
    --gas-card-foreground: 210 40% 98%;

    --gas-popover: 220.9, 39.3%, 11%;
    --gas-popover-foreground: 210 40% 98%;

    --gas-primary: 223 100% 50%;
    --gas-primary-foreground: 210 40% 98%;

    --gas-secondary: 216.9, 19.1%, 26.7%;
    --gas-secondary-foreground: 210 40% 98%;

    --gas-muted: 220, 13%, 91%;
    --gas-muted-foreground: 215 20.2% 65.1%;

    --gas-accent: 220, 13%, 91%;
    --gas-accent-foreground: 210 40% 98%;

    --gas-destructive: 0 62.8% 30.6%;
    --gas-destructive-foreground: 210 40% 98%;

    --gas-border: 216.9, 19.1%, 26.7%;
    --gas-input: 216.9, 19.1%, 26.7%;
    --gas-ring: 224.3 76.3% 48%;

    --gas-radius: 0.5rem;
  }
}

@layer components {
  .animate-enterRight {
    @apply animate-in slide-in-from-right-8 fade-in duration-500;
  }

  .animate-enterUp {
    @apply animate-in slide-in-from-bottom-8 fade-in duration-500;
  }

  .animate-enterDown {
    @apply animate-in slide-in-from-top-8 fade-in duration-500;
  }
}

@tailwind utilities;

@layer utilities {

  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
  }
}

@tailwind components;

@layer base {
  * {
    @apply gas-border-border;
  }

  body {
    @apply gas-bg-background gas-text-foreground;
  }
}