NEXT_PUBLIC_INTERCOM_APP_ID=your-intercom-app-id
NEXT_PUBLIC_INTERCOM_CLIENT_SECRET=your-intercom-client-secret
INTERCOM_CLIENT_SECRET=your-intercom-client-secret

# Local Supabase Configuration

NEXT_PUBLIC_SUPABASE_URL=http://localhost:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.CRXP1A7WOeoJeXxjNni43kdQwgnWNReilDMblYTn_I0
NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY=your-local-supabase-key

NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_PRIVY_CLIENT_ID=

NEXT_PUBLIC_SUITE_API_URL=http://localhost:8888